<h1>Register an Account</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :create)) %>

<span><%= link "Cancel", to: Routes.page_path(@conn, :index), class: "btn btn-primary" %></span>
